@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
}

/* Elements */

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  text-align: center;
  font-family: "Roboto Mono", monospace;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

nav {
  height: 60px;
  display: flex;
  width: 890px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
}

nav a {
  color: black;
}

nav a:hover {
  color: white;
}

h2 {
  margin-top: 30px;
}

#icons i {
  margin: 10px;
}

/* Classes */

.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.flex-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.border-style {
  border: 2px solid black;
  border-radius: 6px;
}

.text-containers {
  width: 600px;
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
}

.project-card {
  width: 890px;
  min-height: 300px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4px 10px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.proj-text {
  text-align: left;
  margin-right: 10px;
}

/* IDs */

#connect {
  display: flex;
  flex-direction: column;
}

#connect i {
  margin: 15px;
  cursor: pointer;
}

#connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#header {
  margin-top: 20px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* below 768px */
/* @media screen and (max-width: 768px) {
  #header,
  #app-container,
  #connect,
  #connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header-text,
  #connect {
    width: 88%;
    height: fit-content;
  }

  .project-card {
    width: 88%;
    margin-bottom: 15px;
    height: fit-content;
  }

  .proj-img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
  }

  #violin-photo {
    width: 268px;
  }
} */

.hide-mobile {
  @media (max-width: 480px) {
    display: none;
  }
}

.hide-desktop {
  @media not all and (max-width: 480px) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  nav {
    width: 420px;
  }

  #violin-pic {
    width: 134px;
    height: 200px;
    margin-bottom: 20px;
  }

  #header {
    width: 420px;
    margin-bottom: 20px;
  }
}
