@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --phone: 480px;
}

/* Elements */

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  text-align: center;
  font-family: "Roboto Mono", monospace;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

nav {
  height: 60px;
  display: flex;
  width: 935px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 6px;
  color: black;
}

nav a {
  color: black;
}

nav a:hover {
  color: white;
}

h2 {
  margin-top: 30px;
}

div.Collapsible {
  border: 2px solid black;
  border-radius: 6px;
  background-color: #f1f1f1;
  font-family: "Roboto Mono", monospace;
  margin: 10px;
  width: 700px;
}

/* Classes */

.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.flex-settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.border-style {
  border: 2px solid black;
  border-radius: 6px;
}

.text-containers {
  width: 600px;
  padding: 20px;
  background-color: #f1f1f1;
}

.project-card {
  min-height: 300px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 4px 10px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.proj-text {
  text-align: left;
  margin-right: 10px;
}

/* IDs */

#header-text {
  text-align: start;
}

#icons a {
  color: black;
}

#connect {
  display: flex;
  flex-direction: column;
}

#linkedIn {
  margin: 5px;
  cursor: pointer;
}

#gitHub {
  margin: 5px;
  cursor: pointer;
}

#connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto;
}

#header {
  margin-top: 20px;
}

#violin-pic {
  height: 400px;
  width: 268px;
  margin-right: 20px;
}

#proj-display-style {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 1200px) {
  nav {
    width: 935px;
  }

  #violin-pic {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  #header-text {
    width: 600px;
    height: 360px;
  }

  div.Collapsible {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #f1f1f1;
    font-family: "Roboto Mono", monospace;
    margin: 10px;
    width: 500px;
    padding: 10px;
  }

}

/* below 768px */
@media screen and (max-width: 768px) {
  nav {
    width: 640px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #violin-pic {
    width: 184px;
    height: 252px;
    margin-right: 17px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  #connect-container {
    margin: 0 auto;
  }

  #header-text {
    width: 390px;
    height: fit-content;
    margin-right: 10px;
  }

  div.Collapsible {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #f1f1f1;
    font-family: "Roboto Mono", monospace;
    margin: 10px;
    width: 500px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  nav {
    width: 400px;
  }

  button {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
  }

  #violin-pic {
    width: 134px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #header-text {
    margin: 0 auto;
    width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }

  #connect-container {
    margin: 0 auto;
    width: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .flex-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.Collapsible {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #f1f1f1;
    font-family: "Roboto Mono", monospace;
    margin: 10px;
    width: fit-content;
    padding: 10px;
  }

}
