@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

.App {
  text-align: center;
  font-family: 'Marmelad', sans-serif;
}

#violin-photo{
  height: 300px;
  margin-top: 20px;
}

#header, #app-container, #connect{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header-text{
  width: 60%;
  padding: 20px;
  border: 2px solid black;
  margin: 20px;
  height: 255px;
}

.project-card{
  border: 2px solid black;
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
}